@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
   CSS HEX 
--licorice: #210C06ff;
--dark-green: #041B03ff;
--black-olive: #1F2920ff;
--zomp: #059979ff;
--harvest-gold: #D28F25ff;
--avocado: #608A3Dff;
--dark-green-2: #002402ff;
--cornell-red: #B6231Eff;
--dartmouth-green: #206921;
}
*/



#__next {
  height: 100%;
  width: 100%;
  padding: 0 12px;
}

header {
  justify-content: flex-start !important;
}

.hContainer {
  background: rgba(coral, .3);
  width: 100%;
  padding: 2rem 0;
}

header #just-to-see-2 {
  /*align-self: center !important;*/
  margin-left: 2.1rem;
}

a: active {

}

section button.absolute {
  display: none !important;
}

#my-header {
  width: fit-content;
  flex-shrink: 1;
  flex-grow: 0
}

#just-to-see-2 {
  width: fit-content;
  flex-shrink: 0;
  flex-grow: 0
}
main {
  /*background: lightgrey;*/
  padding: 4rem 2rem;
  border-left: 1px groove #565584;
  border-right: 1px groove #565584;
  border-bottom: none;
  /*background: green;
  padding: 4rem 9rem;
  */
}

.page-content-container {
 
  
}

.thing-holder {
  width: 300px;
  height: 300px;
  background: blue;
}

.random-name {
  width: 300px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

